<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   					   http://www.springframework.org/schema/tx
	   					   http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="propertyConfigurer"
	      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="jdbc.properties" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	      destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
	      class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
            <list>
                <value>name.samolisov.spring.demo.entity.Auto</value>
                <value>name.samolisov.spring.demo.entity.Person</value>
            </list>
        </property>
		<property name="hibernateProperties">
			<props>
                <prop key="hibernate.dialect">
                    ${hibernate.dialect}
                </prop>
                <prop key="hibernate.hbm2ddl.auto">
                    ${hibernate.hbm2ddl.auto}
                </prop>
                <prop key="hibernate.show_sql">
                    ${hibernate.show_sql}
                </prop>
                <prop key="hibernate.format_sql">
                    true
                </prop>
			</props>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="txManager"
	      class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="demoDAO" class="name.samolisov.spring.demo.dao.DemoDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="personService" class="name.samolisov.spring.demo.service.PersonService">
		<property name="dao" ref="demoDAO" />
	</bean>

	<bean id="hibernateInterceptor"
          class="org.springframework.orm.hibernate3.HibernateInterceptor">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="testFacadeImpl"
          class="name.samolisov.spring.demo.SomeTestFacade">
        <property name="service" ref="personService"/>
    </bean>

	<bean id="testFacade" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="testFacadeImpl"/>
        <property name="proxyInterfaces">
            <value>name.samolisov.spring.demo.ISomeTestFacade</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>hibernateInterceptor</value>
            </list>
        </property>
    </bean>
</beans>
